<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="babys" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\python3.9\python.exe|D:\python3.9\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
